# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/

# Jupyter Notebook
.ipynb_checkpoints

# no hup files
nohup.out.*
/*/nohup.out*

# data
/data/*

#pycharm project files
/.idea